
.settings-button {
  background-color: transparent;
  opacity: .5;
  outline: none;
  box-shadow: none;
}

  .settings-button:focus-visible {
    outline: none;
    box-shadow: none;
  }

.settings-dialog {
  padding-right: 16px;
  padding-left: 16px;
}

.entry-button-text {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none; 
  box-shadow: none;
}

.entry-button-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
}

