.settings-button,
.resize-button {
  background-color: transparent;
  opacity: .5;
  outline: none;
  box-shadow: none;
}

.settings-button:focus-visible,
.resize-button:focus-visible {
  outline: none;
  box-shadow: none;
}

.settings-view {
  padding: 16px 32px 16px 32px;
}

.form-field {
  margin-bottom: 16px;
}

.entry-button-text {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  box-shadow: none;
}

.entry-button-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
}

.album-picker-text {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  box-shadow: none;
}

.album-picker-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
}

.window-legend-label {
  padding-top: 30px;
}

.recursive-box {
  padding-top: 15px;
}