[Desktop Entry]
Version=1.0
Type=Application

Name=Larawan
Comment=Slideshow app for elementary OS
Categories=Graphics;Amusement;

# Icon=io.github.xchan14.larawan
Exec=io.github.xchan14.larawan
Terminal=false
# Actions=Settings

# [Desktop Action Settings]
# Name=Settings
# Exec=io.github.xchan14.larawan